n8n-workflows/Transcription_Master.json
{
  "name": "Transcription Master",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ee1c839d-9b25-4c67-9fe2-75d53b9077aa",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "command": "mkdir -p /data/shared/transcription_processing /data/shared/summarize_input /data/shared/summarize_finished /data/shared/transcription_finished"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "f75cdd82-3116-491b-915a-9ae845188892",
      "name": "Ensure Folders Exist"
    },
    {
      "parameters": {
        "command": "ls /data/shared/transcription_input/*.mp3"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "b8aa0a30-29b0-4815-bd0e-8c2855ccc120",
      "name": "List MP3s"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      filePath: item.json.transcription_inputpath,\n      set_language: item.json.set_language\n    }\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "816b0080-0b46-4fc4-aec5-5cb70a6d296b",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b20190d-11de-4614-b896-b32378d44e78",
              "name": "filePath",
              "value": "={{ $json.filePath }}",
              "type": "string"
            },
            {
              "id": "95545a2b-8b06-49e6-b2b4-16c0611967bf",
              "name": "baseFileName",
              "value": "={{ $json.filePath.split('/').pop().split('.')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        0
      ],
      "id": "d8d04f7c-20ef-4444-a93f-2c08f0809692",
      "name": "Extract filePath & baseFileName"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=mv \"{{$json.filePath}}\" \"/data/shared/transcription_processing/\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1580,
        0
      ],
      "id": "f96d567a-2745-4ea9-82c4-afe5b7e6b90a",
      "name": "Move to Processing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85229560-d532-492e-b124-5359b190e335",
              "name": "filePath",
              "value": "=/data/shared/transcription_processing/{{ $('Extract filePath & baseFileName').item.json.baseFileName }}.mp3",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1860,
        0
      ],
      "id": "0322155e-23b1-4b03-9edf-2831fac9973f",
      "name": "Update filePath to Processing"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Bq831QTbodw3b9Tv",
          "mode": "list",
          "cachedResultName": "Transcribe MP3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $json.filePath }}",
            "baseFileName": "={{ $('Extract filePath & baseFileName').item.json.baseFileName }}",
            "language": "={{ $('Loop Over Items').item.json.set_language }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "baseFileName",
              "displayName": "baseFileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2080,
        0
      ],
      "id": "89ceebd6-9bf6-4d5e-808b-1e75871145ac",
      "name": "Transcribe MP3"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1100,
        0
      ],
      "id": "f5766cb9-e824-4e5e-82a5-3fc45e2e7e82",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=cp \"/data/shared/finished/{{ $node[\"Extract filePath & baseFileName\"].json.baseFileName }}.txt\"  \"/data/shared/summarize_input/\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2820,
        60
      ],
      "id": "7a96aa15-7c88-44ac-bfed-be4724cbd3b4",
      "name": "Copy Transcript to Summarize Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85229560-d532-492e-b124-5359b190e335",
              "name": "filePath",
              "value": "=/data/shared/summarize_input/{{ $('Extract filePath & baseFileName').item.json.baseFileName }}.txt",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2980,
        60
      ],
      "id": "947bfed7-8126-4947-833b-be3544becd02",
      "name": "Update filePath to Summarize_Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Wq20Ouk1zEWnfVQF",
          "mode": "list",
          "cachedResultName": "Summarize Transcript"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3220,
        60
      ],
      "id": "9618241d-463a-41b2-9c0a-49c7d144345c",
      "name": "Summarize MP3"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=mv \"/data/shared/summarize_input/{{ $node[\"Extract filePath & baseFileName\"].json.baseFileName }}.txt\"  \"/data/shared/summarize_finished/\" && \\\nmv \"/data/shared/summarize_input/{{ $node[\"Extract filePath & baseFileName\"].json.baseFileName }}_transformed.txt\"  \"/data/shared/summarize_finished/\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3460,
        60
      ],
      "id": "ae43613b-e4da-430a-8a1d-a587c4144802",
      "name": "Move Summarization to Finished"
    },
    {
      "parameters": {
        "content": "## Transcript Segmentation\n",
        "height": 300,
        "width": 1660,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1980,
        -500
      ],
      "id": "a9117232-2314-48f0-a494-bad65b88d7f5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.filePath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2440,
        -400
      ],
      "id": "52572f70-2a3e-43ae-a680-ea3692843eca",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "transcript",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2700,
        -400
      ],
      "id": "6235fbb8-4fa1-413d-a290-66e967a264b5",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3360,
        -400
      ],
      "id": "7f2bc095-22b4-4364-b994-b35086fcac06",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/shared/transcription_processing/{{ $('Set baseFileName').item.json.baseFileName }}_segmented.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3620,
        -400
      ],
      "id": "b919bf96-0421-479b-a14c-f2136bb2ff4e",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import re\n\ndef consolidate_speaker_blocks_with_timestamps(transcript_text):\n    lines = transcript_text.strip().split(\"\\n\")\n    consolidated = []\n    current_speaker = None\n    current_text = []\n    start_time = None\n\n    for line in lines:\n        match = re.match(r\"\\[(\\d{2}:\\d{2}:\\d{2}\\.\\d+)\\] (SPEAKER_\\d+):\\s*(.*)\", line)\n        if match:\n            timestamp, speaker, text = match.groups()\n            if speaker != current_speaker:\n                if current_speaker is not None:\n                    consolidated.append(f\"[{start_time}] {current_speaker}:\\n{' '.join(current_text)}\\n\")\n                current_speaker = speaker\n                current_text = [text]\n                start_time = timestamp\n            else:\n                current_text.append(text)\n        elif current_speaker:\n            current_text.append(line.strip())\n\n    if current_speaker and current_text:\n        consolidated.append(f\"[{start_time}] {current_speaker}:\\n{' '.join(current_text)}\\n\")\n\n    return \"\\n\".join(consolidated)\n\nfor item in items:\n    input_text = item['json'].get('transcript', '')  # <--- hier angepasst!\n    output_text = consolidate_speaker_blocks_with_timestamps(input_text)\n    item['json']['text'] = output_text\n\nreturn items\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        -400
      ],
      "id": "2cd17a05-f87d-4c2d-977d-9a682050fc05",
      "name": "Consolidate Speaker Sections"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0521520-3420-40f7-a617-350413ae2577",
              "name": "baseFileName",
              "value": "={{ $('Read/Write Files from Disk').item.json.fileName.split('/').pop().split('.')[0] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3140,
        -400
      ],
      "id": "37977ec4-2ec3-4f0a-930b-983f8f17d878",
      "name": "Set baseFileName"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85229560-d532-492e-b124-5359b190e335",
              "name": "filePath",
              "value": "=/data/shared/transcription_processing/{{ $('Extract filePath & baseFileName').item.json.baseFileName }}.txt",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        -400
      ],
      "id": "c85dcb6d-09a2-45a7-b1bb-6fca27167533",
      "name": "Set Transcript FilePath"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=mv \"/data/shared/transcription_processing/{{ $node[\"Extract filePath & baseFileName\"].json.baseFileName }}.mp3\"  \"/data/shared/transcription_finished/\" && \\\nmv \"/data/shared/transcription_processing/{{ $node[\"Extract filePath & baseFileName\"].json.baseFileName }}.txt\"  \"/data/shared/transcription_finished/{{ $node[\"Extract filePath & baseFileName\"].json.baseFileName }}_raw.txt\" && \\\nmv \"/data/shared/transcription_processing/{{ $node[\"Extract filePath & baseFileName\"].json.baseFileName }}_segmented.txt\"  \"/data/shared/transcription_finished/{{ $node[\"Extract filePath & baseFileName\"].json.baseFileName }}.txt\" && \\\nmv \"/data/shared/transcription_processing/{{ $node[\"Extract filePath & baseFileName\"].json.baseFileName }}.json\" \"/data/shared/transcription_finished/\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2360,
        0
      ],
      "id": "28f7e702-9d12-4cae-8b34-4d652f5dc6b7",
      "name": "Rename and Move to Finished Folder"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT transcription_inputpath, set_language\nFROM transcriptions\nWHERE set_language IN ('en', 'de', 'auto');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        660,
        0
      ],
      "id": "b57edeba-e3e2-4f34-aba4-31fce4f3cb48",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "vETPF55iMKScXl8i",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Ensure Folders Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Folders Exist": {
      "main": [
        [
          {
            "node": "List MP3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List MP3s": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract filePath & baseFileName": {
      "main": [
        [
          {
            "node": "Move to Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Processing": {
      "main": [
        [
          {
            "node": "Update filePath to Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update filePath to Processing": {
      "main": [
        [
          {
            "node": "Transcribe MP3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe MP3": {
      "main": [
        [
          {
            "node": "Set Transcript FilePath",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract filePath & baseFileName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Transcript to Summarize Input": {
      "main": [
        [
          {
            "node": "Update filePath to Summarize_Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update filePath to Summarize_Input": {
      "main": [
        [
          {
            "node": "Summarize MP3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize MP3": {
      "main": [
        [
          {
            "node": "Move Summarization to Finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Summarization to Finished": {
      "main": [
        []
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Consolidate Speaker Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Speaker Sections": {
      "main": [
        [
          {
            "node": "Set baseFileName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set baseFileName": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Transcript FilePath": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename and Move to Finished Folder": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Rename and Move to Finished Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0dd44d56-1355-4091-9cf9-715beddd5cc1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e19a58ffb0fd248efa26d031fe3b9360ad1bd1b828d9ae749d875af6b5124b71"
  },
  "id": "FWh6KlmQBnZ4C0lr",
  "tags": []
}