n8n-workflows/Transcribe MP3.json
{
  "name": "Transcribe MP3",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "={{ $json.filePath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -4240,
        1392
      ],
      "id": "b5c2ca8f-70b9-4f04-bb86-03e80397227f",
      "name": "Read MP3 File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58b271c1-aac2-45fd-a8ef-509cbf7bd4dd",
              "name": "processId",
              "value": "={{ $json.body.identifier }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1840,
        1392
      ],
      "id": "d1457bb9-8491-4bfb-a527-9fb7c0fe5d43",
      "name": "Set processId"
    },
    {
      "parameters": {
        "url": "=http://{{ $('Set Final Transcription Host').item.json.transcriptionHostFinal }}:8000/task/{{ $json.processId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1568,
        1392
      ],
      "id": "3802e7ca-639a-4a1b-8bc8-20802e2a4b55",
      "name": "Check Transcription Status"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a8aff566-1d2f-4f21-baf1-404feb3bf1fa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "yes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "71b69086-5fef-416f-a50f-7b1e58dc7fca",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1152,
        1392
      ],
      "id": "e43f0066-330c-4324-83c1-2bf9e4c75360",
      "name": "Transcription finished?"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -976,
        1504
      ],
      "id": "f0ac01b8-4891-4ef3-a171-393b3841e7a7",
      "name": "Wait",
      "webhookId": "9bf9a2b6-5a69-42d7-99a2-0931e04bc858"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51fe548a-cd88-4fdb-a5fe-e84b9bada7d0",
              "name": "transcription_start_time",
              "value": "={{ $json.metadata.start_time }}",
              "type": "string"
            },
            {
              "id": "81f699b7-fc67-4f3d-a40c-cd70cb869981",
              "name": "transcription_end_time",
              "value": "={{ $json.metadata.end_time }}",
              "type": "string"
            },
            {
              "id": "ad1d851b-45e9-42d8-9861-ba75693f4436",
              "name": "transcription_duration",
              "value": "={{ $json.metadata.duration }}",
              "type": "number"
            },
            {
              "id": "46376169-faf1-46a8-840b-f420c44ecbcd",
              "name": "transcription_language",
              "value": "={{ $json.metadata.language }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        1280
      ],
      "id": "e772ca1d-f842-42d7-92b3-005739e494f9",
      "name": "Collect Transcription_Details"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.infrastructure }}",
                    "rightValue": "local",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b0ee5b6b-a8c4-4c70-97c9-db2b37240129"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "local"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6bd128e9-3f11-4f9f-9d3b-00c58887771f",
                    "leftValue": "={{ $json.infrastructure }}",
                    "rightValue": "remote",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "remote"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b4456cb5-b856-468a-8ea7-2e0406615114",
                    "leftValue": "={{ $json.infrastructure }}",
                    "rightValue": "aws_t4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aws_t4"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6f4391d7-9e2f-4ef0-8bce-bf7c77d9ad1a",
                    "leftValue": "={{ $json.infrastructure }}",
                    "rightValue": "aws_a10g",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aws_a10g"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3584,
        1392
      ],
      "id": "7c1d1326-a450-497e-a6ba-85e536865ffa",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f462dde0-9383-42d6-bcb4-57769f422b58",
              "name": "infrastructure",
              "value": "aws_t4",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3808,
        1392
      ],
      "id": "9a1c8daa-dbc4-49fb-838e-89af2548507a",
      "name": "Set Infrastructure (Remote or Local)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d24504b-e43b-453d-8c32-b7640cc8cb65",
              "name": "transcriptionHost",
              "value": "whisperx",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3120,
        1328
      ],
      "id": "097abc13-841a-40a6-8dbe-a4cf8a5f60d4",
      "name": "Set Local Transcription Host"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25c5729e-a0c1-4f21-a1a9-61c49a74e9c3",
              "name": "transcriptionHost",
              "value": "192.168.0.91",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3120,
        1520
      ],
      "id": "78bb792e-8837-43fb-b384-d375439bc00b",
      "name": "Set Remote Transcription Host"
    },
    {
      "parameters": {
        "jsCode": "// 1. Nimm das erste (und einzige) Item aus dem Merge-Node\nconst item = items[0].json;\nconst segments = item.result.segments;\n\n// 2. Hilfsfunktion: Sekunden → [HH:MM:SS.mmm]\nfunction formatTime(seconds) {\n  const totalMs = Math.floor(seconds * 1000);\n  const ms = totalMs % 1000;\n  const totalSec = Math.floor(totalMs / 1000);\n  const s = totalSec % 60;\n  const totalMin = Math.floor(totalSec / 60);\n  const m = totalMin % 60;\n  const h = Math.floor(totalMin / 60);\n  return `[${String(h).padStart(2,'0')}:` +\n         `${String(m).padStart(2,'0')}:` +\n         `${String(s).padStart(2,'0')}.` +\n         `${String(ms).padStart(3,'0')}]`;\n}\n\n// 3. Baue die Zeilen: Zeitstempel + Speaker + Text\nconst lines = segments.map(seg => {\n  const ts = formatTime(seg.start);\n  return `${ts} ${seg.speaker}:\\n${seg.text.trim()}`;\n});\n\n// 4. Füge zwischen die Blöcke jeweils eine Leerzeile ein\nconst transcriptFormatted = lines.join('\\n\\n');\n\n// 5. Gib das neue JSON-Objekt zurück\nreturn [{\n  json: {\n    status:     item.status,\n    transcript: transcriptFormatted,\n    segments:   segments,\n    metadata:   item.metadata,\n    error:      item.error,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        1280
      ],
      "id": "72f6b87c-e6c4-435c-932f-aa550d8dbd32",
      "name": "Merge Transcript Segments"
    },
    {
      "parameters": {
        "jsCode": "// 1. JSON-Felder holen\nconst { transcript, baseFileName } = items[0].json;\n\n// 2. Binär‑Payload erstellen\nitems[0].binary = {\n  file: {\n    data: Buffer.from(transcript, 'utf-8'),\n    mimeType: 'text/plain',\n    fileName: `${baseFileName}.txt`,\n  }\n};\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        1280
      ],
      "id": "d78d48c3-a3a9-4b55-94fe-229d208a0da2",
      "name": "Prepare Binary File for Transcript"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Set Filename, Path and Language').item.json.basePath }}/{{ $('Set Filename, Path and Language').item.json.baseFileName }}.txt",
        "dataPropertyName": "file",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -48,
        1280
      ],
      "id": "d53f042b-544d-48f0-8fc2-2190e766c4e7",
      "name": "Write Transcript TXT File to Disk"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"fileName\": \"{{ $json.metadata.file_name }}\",\n  \"startTime\": \"{{ $json.metadata.start_time }}\",\n  \"endTime\": \"{{ $json.metadata.end_time }}\",\n  \"duration\": {{ $json.metadata.duration }},\n  \"language\": \"{{ $json.metadata.language }}\"\n}\n ",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        1280
      ],
      "id": "20bbc77f-96f6-40ce-aff7-e1780d306171",
      "name": "Build JSON"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "file",
        "options": {
          "format": true,
          "fileName": "={{ $('Set Filename, Path and Language').item.json.baseFileName }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        400,
        1280
      ],
      "id": "3d7c985f-1c82-4fc4-b5a6-8f9df2cc0e9f",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Set Filename, Path and Language').item.json.basePath }}/{{ $('Set Filename, Path and Language').item.json.baseFileName }}.json",
        "dataPropertyName": "file",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        608,
        1280
      ],
      "id": "a57dfb6a-b51c-4f8f-9ff8-8ef66d055afd",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "filePath"
            },
            {
              "name": "baseFileName"
            },
            {
              "name": "language"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -5344,
        1392
      ],
      "id": "4f4d79e1-fe47-445f-a598-6fb13433f6a6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8e47d0cd-0456-4b80-8842-d8236176494a",
              "name": "transcriptionHostFinal",
              "value": "={{ $json.transcriptionHost }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2576,
        1424
      ],
      "id": "c086d9ea-78cf-4670-a0da-0a650055b6b6",
      "name": "Set Final Transcription Host"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9136f176-d6b1-4ef6-9d36-1d4b2e8d5c32",
              "name": "processId",
              "value": "={{ $('Set processId').item.json.body.identifier }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        1504
      ],
      "id": "a9d66b1e-b56c-432c-96ac-433259555add",
      "name": "Set Process ID"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.infrastructure }}",
                    "rightValue": "local",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b0ee5b6b-a8c4-4c70-97c9-db2b37240129"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "local"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6bd128e9-3f11-4f9f-9d3b-00c58887771f",
                    "leftValue": "={{ $json.infrastructure }}",
                    "rightValue": "remote",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "remote"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b4456cb5-b856-468a-8ea7-2e0406615114",
                    "leftValue": "={{ $json.infrastructure }}",
                    "rightValue": "aws_t4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aws_t4"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "74aa5bdb-3f08-4411-8198-286176e6ea12",
                    "leftValue": "={{ $json.infrastructure }}",
                    "rightValue": "aws_a10g",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aws_a10g"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2400,
        1424
      ],
      "id": "a8599bdc-4ee3-4bdf-a2a5-8364d0e3e81b",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25c5729e-a0c1-4f21-a1a9-61c49a74e9c3",
              "name": "transcriptionHost",
              "value": "={{ $json.value }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2912,
        1744
      ],
      "id": "ef2653d0-7803-4252-9bf9-b86397871ad6",
      "name": "Set Remote AWS Transcription Host"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://{{ $json.transcriptionHostFinal }}:8000/speech-to-text",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "device",
              "value": "cuda"
            },
            {
              "name": "model",
              "value": "large-v3"
            },
            {
              "name": "compute_type",
              "value": "float16"
            },
            {
              "name": "chunk_size",
              "value": "30"
            },
            {
              "name": "batch_size",
              "value": "8"
            },
            {
              "name": "=language",
              "value": "={{ $json.language }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2112,
        1648
      ],
      "id": "ce6ac191-1c56-4b6c-9cfe-afc33ade9904",
      "name": "Start Transcription on T4 GPU (Send HTTP POST)",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://{{ $json.transcriptionHostFinal }}:8000/speech-to-text",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "device",
              "value": "cpu"
            },
            {
              "name": "model",
              "value": "large-v3"
            },
            {
              "name": "compute_type",
              "value": "int8"
            },
            {
              "name": "chunk_size",
              "value": "5"
            },
            {
              "name": "batch_size",
              "value": "2"
            },
            {
              "name": "language",
              "value": "={{ $json.language }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2112,
        1408
      ],
      "id": "91ba56e2-567c-4821-b09c-15447514d438",
      "name": "Start Local Transcription (Send HTTP POST)",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://{{ $json.transcriptionHostFinal }}:8000/speech-to-text",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "device",
              "value": "cuda"
            },
            {
              "name": "model",
              "value": "large-v3"
            },
            {
              "name": "compute_type",
              "value": "float32"
            },
            {
              "name": "chunk_size",
              "value": "30"
            },
            {
              "name": "batch_size",
              "value": "16"
            },
            {
              "name": "language",
              "value": "={{ $json.language }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2112,
        1904
      ],
      "id": "4b0a8fd1-9f9f-4f20-9e8f-d2433e8e2c98",
      "name": "Start Transcription on A10G GPU (Send HTTP POST)",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "751ae51c-f328-43cb-8c4e-0626e11b3b68",
              "name": "baseFileName",
              "value": "={{ $json.fileName.split('/').pop().split('.')[0] }}",
              "type": "string"
            },
            {
              "id": "37594e04-abec-4853-b1d1-ae1823da306b",
              "name": "basePath",
              "value": "={{ $('Merge').item.json.filePath.split('/').slice(0, -1).join('/') }}",
              "type": "string"
            },
            {
              "id": "73e07988-08bf-4d9f-b363-f7bf49b75443",
              "name": "language",
              "value": "={{ $('Merge').all().find(item => item.json.language)?.json.language }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4016,
        1392
      ],
      "id": "ddeaba41-fca3-4898-875c-1c129f0e7cfa",
      "name": "Set Filename, Path and Language"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -5344,
        1168
      ],
      "id": "53318815-4dd8-42f1-973f-064d1e78b9e6",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -4720,
        1280
      ],
      "id": "422fd3eb-2fb2-4d23-bb0b-fa8586c361e1",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5ad11e7-47a3-475e-aba3-475bda8128f5",
              "name": "filePath",
              "value": "/data/shared/transcription_processing/2025-11-21 09-54-17.mp3",
              "type": "string"
            },
            {
              "id": "d5fdb1e1-991e-4e49-ab56-30f93a572c1b",
              "name": "baseFileName",
              "value": "2025-11-21 09-54-17",
              "type": "string"
            },
            {
              "id": "a31a3588-45fc-4b8b-8dab-9575b84e9410",
              "name": "language",
              "value": "de",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5120,
        1168
      ],
      "id": "e68430f6-810c-4c4a-90f7-9aa12030ba41",
      "name": "Set filePath, baseFileName and language"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "transcription_settings",
          "mode": "list",
          "cachedResultName": "transcription_settings"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "parameter",
              "value": "aws_host"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3408,
        1680
      ],
      "id": "e0d68e03-7aee-472c-a09c-9c120639eb69",
      "name": "Select AWS Host from Database",
      "credentials": {
        "postgres": {
          "id": "vETPF55iMKScXl8i",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3200,
        1664
      ],
      "id": "c6ab6da0-f3c1-4fd1-80b7-dbd4f80ecb3b",
      "name": "Merge1"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "filePath": "/data/shared/transcription_processing/2025-11-21 09-54-17.mp3"
        }
      },
      {
        "json": {
          "baseFileName": "2025-11-21 09-54-17"
        }
      },
      {
        "json": {
          "language": "de"
        }
      }
    ]
  },
  "connections": {
    "Read MP3 File": {
      "main": [
        [
          {
            "node": "Set Filename, Path and Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set processId": {
      "main": [
        [
          {
            "node": "Check Transcription Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Transcription Status": {
      "main": [
        [
          {
            "node": "Transcription finished?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcription finished?": {
      "main": [
        [
          {
            "node": "Collect Transcription_Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Set Process ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Transcription_Details": {
      "main": [
        [
          {
            "node": "Merge Transcript Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set Local Transcription Host",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Remote Transcription Host",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select AWS Host from Database",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select AWS Host from Database",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Infrastructure (Remote or Local)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Local Transcription Host": {
      "main": [
        [
          {
            "node": "Set Final Transcription Host",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Remote Transcription Host": {
      "main": [
        [
          {
            "node": "Set Final Transcription Host",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Transcript Segments": {
      "main": [
        [
          {
            "node": "Prepare Binary File for Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Binary File for Transcript": {
      "main": [
        [
          {
            "node": "Write Transcript TXT File to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Transcript TXT File to Disk": {
      "main": [
        [
          {
            "node": "Build JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build JSON": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set Final Transcription Host": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Process ID": {
      "main": [
        [
          {
            "node": "Check Transcription Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Start Local Transcription (Send HTTP POST)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Local Transcription (Send HTTP POST)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Transcription on T4 GPU (Send HTTP POST)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Transcription on A10G GPU (Send HTTP POST)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Remote AWS Transcription Host": {
      "main": [
        [
          {
            "node": "Set Final Transcription Host",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Transcription on T4 GPU (Send HTTP POST)": {
      "main": [
        [
          {
            "node": "Set processId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Local Transcription (Send HTTP POST)": {
      "main": [
        [
          {
            "node": "Set processId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Transcription on A10G GPU (Send HTTP POST)": {
      "main": [
        [
          {
            "node": "Set processId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Filename, Path and Language": {
      "main": [
        [
          {
            "node": "Set Infrastructure (Remote or Local)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set filePath, baseFileName and language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Read MP3 File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set filePath, baseFileName and language": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select AWS Host from Database": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Set Remote AWS Transcription Host",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8209b0fd-bcc2-4e6d-9896-b9a9afc225f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e19a58ffb0fd248efa26d031fe3b9360ad1bd1b828d9ae749d875af6b5124b71"
  },
  "id": "Bq831QTbodw3b9Tv",
  "tags": []
}