n8n-workflows/Transcription_Master.json
{
  "name": "Transcription Master",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d214c8dd-a8b8-442a-a9a4-c4614cf0f518",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "command": "mkdir -p /data/shared/processing /data/shared/finished /data/shared/summarize_input /data/shared/summarize_finished"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "4709abd5-3d7d-4439-8ecb-bbaed242bd74",
      "name": "Ensure Folders Exist"
    },
    {
      "parameters": {
        "command": "ls /data/shared/*.mp3"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "91a661ee-5fc5-4263-bea9-8eee7e65232f",
      "name": "List MP3s"
    },
    {
      "parameters": {
        "jsCode": "// 1. alle Zeilen aus stdout holen\nconst lines = items[0].json.stdout\n  .split('\\n')          // nach Newline splitten\n  .filter(p => p);      // leere Einträge entfernen\n\n// 2. daraus ein Item pro Pfad machen\nreturn lines.map(path => ({\n  json: { filePath: path }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "6cd6088e-e5a3-4264-ab83-35d89b47dd7e",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b20190d-11de-4614-b896-b32378d44e78",
              "name": "filePath",
              "value": "={{ $json.filePath }}",
              "type": "string"
            },
            {
              "id": "95545a2b-8b06-49e6-b2b4-16c0611967bf",
              "name": "baseFileName",
              "value": "={{ $json.filePath.split('/').pop().split('.')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1140,
        0
      ],
      "id": "24966e40-5e46-480d-9f1e-07673f8f4400",
      "name": "Extract filePath & baseFileName"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=mv \"{{$json.filePath}}\" \"/data/shared/processing/\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1360,
        0
      ],
      "id": "5640cdc9-2340-4703-a18a-cde6fda65ace",
      "name": "Move to Processing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85229560-d532-492e-b124-5359b190e335",
              "name": "filePath",
              "value": "=/data/shared/processing/{{ $('Extract filePath & baseFileName').item.json.baseFileName }}.mp3",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1640,
        0
      ],
      "id": "3758f83e-333c-4dbc-9f71-78c7b0d4277c",
      "name": "Update filePath to Processing"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WX8z6jgsbqRWzSiu",
          "mode": "list",
          "cachedResultName": "Transcribe MP3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $json.filePath }}",
            "baseFileName": "={{ $('Extract filePath & baseFileName').item.json.baseFileName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "baseFileName",
              "displayName": "baseFileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1860,
        0
      ],
      "id": "10af7f2b-da7d-47aa-9b82-cd528d15b5ca",
      "name": "Transcribe MP3"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        0
      ],
      "id": "145824cd-e9bf-4db8-953c-f70605ace313",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=mv \"/data/shared/processing/{{ $node[\"Extract filePath & baseFileName\"].json.baseFileName }}.mp3\"  \"/data/shared/finished/\" && \\\nmv \"/data/shared/processing/{{ $node[\"Extract filePath & baseFileName\"].json.baseFileName }}.txt\"  \"/data/shared/finished/\" && \\\nmv \"/data/shared/processing/{{ $node[\"Extract filePath & baseFileName\"].json.baseFileName }}.json\" \"/data/shared/finished/\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2080,
        0
      ],
      "id": "89fcb340-3beb-47a2-8375-79a2cba08188",
      "name": "Move to Finished Folder"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=cp \"/data/shared/finished/{{ $node[\"Extract filePath & baseFileName\"].json.baseFileName }}.txt\"  \"/data/shared/summarize_input/\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2320,
        0
      ],
      "id": "47aaf791-d1d6-410a-953e-16bbbaab2d69",
      "name": "Copy Transcript to Summarize Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85229560-d532-492e-b124-5359b190e335",
              "name": "filePath",
              "value": "=/data/shared/summarize_input/{{ $('Extract filePath & baseFileName').item.json.baseFileName }}.txt",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2540,
        0
      ],
      "id": "38e5f023-f1ca-4d75-a063-3b4c14602b82",
      "name": "Update filePath to Summarize_Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Wq20Ouk1zEWnfVQF",
          "mode": "list",
          "cachedResultName": "Summarize Transcript"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2780,
        0
      ],
      "id": "812f07a8-37ce-4da5-bb5f-73db07140e21",
      "name": "Summarize MP3"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=mv \"/data/shared/summarize_input/{{ $node[\"Extract filePath & baseFileName\"].json.baseFileName }}.txt\"  \"/data/shared/summarize_finished/\" && \\\nmv \"/data/shared/summarize_input/{{ $node[\"Extract filePath & baseFileName\"].json.baseFileName }}_transformed.txt\"  \"/data/shared/summarize_finished/\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3020,
        0
      ],
      "id": "16b298b6-7c3f-4721-bddb-034774329877",
      "name": "Move Summarization to Finished"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Ensure Folders Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Folders Exist": {
      "main": [
        [
          {
            "node": "List MP3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List MP3s": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract filePath & baseFileName": {
      "main": [
        [
          {
            "node": "Move to Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Processing": {
      "main": [
        [
          {
            "node": "Update filePath to Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update filePath to Processing": {
      "main": [
        [
          {
            "node": "Transcribe MP3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe MP3": {
      "main": [
        [
          {
            "node": "Move to Finished Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract filePath & baseFileName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Finished Folder": {
      "main": [
        [
          {
            "node": "Copy Transcript to Summarize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Transcript to Summarize Input": {
      "main": [
        [
          {
            "node": "Update filePath to Summarize_Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update filePath to Summarize_Input": {
      "main": [
        [
          {
            "node": "Summarize MP3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize MP3": {
      "main": [
        [
          {
            "node": "Move Summarization to Finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Summarization to Finished": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e5a39823-6fbb-4c9f-a063-ad7aa93400e4",
  "meta": {
    "instanceId": "ef294ce2c8969143c3f21aeb83a219f5910d5236d8d11193629e117ac6bdff9f"
  },
  "id": "SoToMOPczncfyTA4",
  "tags": []
}